webservices/RentACarWebServices/WebContent/wsdl/HttpSoap12Endpoint.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://alicnina.com/paymentsimulator" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://alicnina.com/paymentsimulator">

	<wsdl:documentation>PaymentSimulator</wsdl:documentation>

	<wsdl:types>
		<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://alicnina.com/paymentsimulator">
			<xs:element name="initializePayment" nillable="false">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" name="creditCardNo" type="xs:string"/>
						<xs:element minOccurs="1" name="cvv2" type="xs:string"/>
						<xs:element minOccurs="1" name="ammount" type="xs:double"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="initializePaymentResponse" nillable="false">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" name="code" type="xs:string"/>
						<xs:element minOccurs="1" name="message" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="initializePaymentRequest">
		<wsdl:part element="ns:initializePayment" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="initializePaymentResponse">
		<wsdl:part element="ns:initializePaymentResponse" name="parameters"/>
	</wsdl:message>

	<wsdl:portType name="PortType">
		<wsdl:operation name="initializePayment">
			<wsdl:input message="ns:initializePaymentRequest" wsaw:Action="urn:initializePayment"/>
			<wsdl:output message="ns:initializePaymentResponse" wsaw:Action="urn:initializePaymentResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Soap11Binding" type="ns:PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="initializePayment">
			<soap:operation soapAction="urn:initializePayment" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="Soap12Binding" type="ns:PortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="initializePayment">
			<soap12:operation soapAction="urn:initializePayment" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PaymentSimulator">
		<wsdl:port binding="ns:Soap11Binding" name="HttpSoap11Endpoint">
			<soap:address location="http://localhost:9195/RentACarWebServices/services/HttpSoap11Endpoint"/>
		</wsdl:port>
		<wsdl:port binding="ns:Soap12Binding" name="HttpSoap12Endpoint">
			<soap12:address location="http://localhost:8080/Axis2HelloWorld/services/PaymentSimulator.HttpSoap12Endpoint/"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
